# Redirect trailing slashes to non-trailing slashes
[[redirects]]
  from = "/*/"
  to = "/:splat"
  status = 301
  force = true

[images]
  remote_images = [
    "https://firebasestorage.googleapis.com/.*"
  ]